<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title >
      <h1>Songs</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Digite o CEP:</ion-label>
            <ion-input [(ngModel)]="cep"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="consultaCEP()">Consultar</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Logradouro: </ion-label>
            <p> {{endereco.logradouro}}</p>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Cidade: </ion-label>
            <ion-input [ngModel]="endereco.localidade" disabled> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Estado: </ion-label>
            <ion-input [ngModel]="endereco.uf" disabled> </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
</ion-content>
